/node_modules
/public/hot
/public/storage
/public/js/index.js
/public/js/indexPublic.js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
composer.lock
package-lock.json
Homestead.yaml
npm-debug.log
yarn-error.log
Session.vim
.env
.DS_Store
public/js/replyStream.js
